# Dépendances
node_modules/
.npm

# Build Android
android/app/build/
android/.gradle/
android/build/
*.apk
*.aab
*.keystore

# Capacitor
.capacitor/

# Environnement
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
